{% extends 'base.html' %}
{% load static %}


{% block page_scripts %}
    <script defer src="{% static 'welcome.js' %}"></script>
{% endblock %}


{% block title %}
Welcome!
{% endblock %}

{% block content %}
<div class="w-full h-screen -mt-[72px]">
    <!-- Landing -->
    <div style="background-image: url('../../uploads/market/welcome-bg-img.png')"
            class="relative bg-no-repeat bg-center bg-cover h-full">

        <div class="flex flex-col items-center justify-between h-3/4">
            <p class="mt-32 text-4xl text-gray-800">Welcome to Agora</p>
            <button id='get-wallet' class="px-12 py-2 bg-gray-800 text-slate-200 border-solid border-[1px] border-white rounded-full hover:bg-gray-600">Get Started</button>
        </div>
    
    </div>
</div>

{% endblock %}