{% extends 'base.html' %}

{% block title %}
Profile - {{ user.username }}
{% endblock %}

<!-- # Profile:
# account Address
# Private key (hidden)
# balance for the wallet -->

{% block content %}
<h3>Welcome back, {{ user.username }}</h3>
<h1>Balance: {{ balance }}</h1>
<!-- todo:  acct address copy to clipboard button -->
<h4 id="address">Account</h4>
{{ address }}<br>
<!-- todo: hide private key behind button/fog effect -->
<h4>Private Key</h4>
{{ key }}
<!-- todo: asset inventory -->
<!-- todo: transaction history -->

<div class="w-full min-h-screen border-x-2 border-x-neutral-300 mx-auto">
    <div class="w-full">
        {% if posts %}
        <div>
            <div>
                <p>Posts:</p>
                {% for post in posts %}
                    <div>
                        <p>{{ post.body }}</p>
                        {% if post.image %}
                        <img src="{{ post.image.url }}" alt="">
                        {% endif %}
                        <p>{{ post.created_date }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if assets %}
        <div>
            <div>
                <p>Assets:</p>
                {% for asset in assets %}
                    <div>
                        <p>{{ asset.body }}</p>
                        {% if asset.image %}
                        <img src="{{ asset.image.url }}" alt="">
                        {% endif %}
                        <p>{{ asset.created_date }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if offers %}
        <div>
            <div>
                <p>Outstanding offers:</p>
                {% for offer in offers %}
                    <div>
                        <p>{{ offer.value }}</p>
                        <p>{{ offer.quantity }}</p>
                        <p>{{ offer.asset }}</p>
                        <p>{{ offer.created_date }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>




{% endblock %}