{% extends 'base.html' %}
{% load static %}


{% block page_scripts %}
    <script defer src="{% static 'market.js' %}"></script>
{% endblock %}


{% block title %}
Market
{% endblock %}

{% block content %}
    <div class="w-[1200px] mx-auto">


        <div class="my-2 ml-4">
            {% for profile in featured_profiles %}
            <a href="" class="mr-4 font-extrabold">{{ profile.user.username }}</a>
            {% endfor %}
        </div>
        
        <!-- slideshow container -->
        <ul id="slideshow" class="list-none relative w-full h-[450px] group">

            <!-- generate slides -->
            {% for profile in featured_profiles %}
                <li style="display:none" class="absolute w-full h-full overflow-hidden rounded-xl">
                    {% if profile.shop_bg_photo %}
                        <img src="{{ profile.shop_bg_photo.url }}" alt="" class="min-h-full object-cover group-hover:scale-105 transition ease-in-out brightness-90">
                    {% endif %}
                    <div class="absolute z-10 bottom-16 left-24 text-md text-white rounded-xl">
                        <p class="text-4xl font-bold py-2 shadow-md mb-4">{{ profile.user.username }}</p>
                        <a class="rounded-lg px-8 py-2 backdrop-blur-xl bg-slate-200/30 text-lg font-bold text-slate-50 z-10 shadow-md hover:bg-slate-50 hover:text-slate-900" href="{% url 'profile' profile.user.id %}">
                            Explore</a>
                    </div>
                    <!-- <p>{{ slide.id }}</p>
                    <p>{{ slides.count }}</p> -->
                </li>
            {% endfor %}

            <!-- forward backward buttons  -->
            <div class="hidden group-hover:flex">
                <div class="pointer absolute flex items-center justify-between w-full h-full text-white font-bold text-lg rounded-lg">
                    <button class="h-12 w-12 -mx-6 bg-slate-50 shadow-md text-slate-900 text-2xl rounded-full" id="prev" onclick="changeSlide(-1)">&#10094;</button>  
                    <button class="h-12 w-12 -mx-6 bg-slate-50 shadow-md text-slate-900 text-2xl rounded-full" id="next" onclick="changeSlide(1)">&#10095;</button>  
                </div>
            </div>

        </ul>
        
        <!-- listings -->
        <p class="text-3xl font-bold my-6">ALL</p>
        <div class="flex w-full justify-center items-center 2xl:px-20">

            <div class="w-full flex flex-wrap justify-center items-center">
                {% for listing in listings %}
                <!-- listing card -->
                    <a class="bg-slate-50 mx-4 my-4 flex w-48 h-64 flex-col p-3 rounded-md hover:shadow-lg hover:scale-105 transition ease-in-out group border-2 border-slate-200" href="{% url 'asset' listing.id %}">
                        <p class="h-1/6 text-lg text-slate-900 font-semibold overflow-hidden whitespace-nowrap overflow-ellipsis">{{ listing.title }}</p>
                        <img src="{{listing.image.url}}" alt="" class="w-full h-full rounded-md object-cover overflow-hidden ">
                        <p class="text-2xl text-slate-900 flex items-center"><img src="/uploads/market/eth-glyph-colored.png" class="h-6 mx-1">{{ listing.value }}</p>          
                    </a>
                {% endfor %}
            </div>
        </div>

    </div>


{% endblock %}