<footer class="bg-slate-800 text-slate-300 h-40">
    <div class="w-full flex flex-col justify-center items-center mx-auto">

        <!-- <h1 class="mt-6">Follow</h1>
        <div class="flex gap-8 mt-4">
            <a href="https://www.twitter.com"
                class="w-8">
                <img src="../../uploads/social_media/twitter.png" alt="">
            </a>
            <a href="https://www.instagram.com" class="w-8"><img src="../../uploads/social_media/instagram.png" alt=""></a>
            <a href="https://www.linkedin.com" class="w-8"><img src="../../uploads/social_media/linkedin.png" alt=""></a>
            <a href="https://www.tiktok.com" class="w-8"><img src="../../uploads/social_media/tiktok.png" alt=""></a>
            <a href="https://www.youtube.com" class="w-8"><img src="../../uploads/social_media/youtube.png" alt=""></a>
        </div> -->


        <div class="flex gap-8 mt-6">
            <a href="" class="hover:text-slate-500">Privacy & Legal</a>
            <a href="" class="hover:text-slate-500">Contact</a>
            <a href="" class="hover:text-slate-500">Careers</a>
            <a href="" class="hover:text-slate-500">News</a>
            <a href="" class="hover:text-slate-500">Engage</a>
        </div>


        <div class="flex flex-col justify-center items-center gap-2 my-4">
            <img class="w-12" src="../../uploads/market/logo_slate_400.png" alt="logo">
            <p class="text-xs">Agora © 2023</p>
        </div>
    </div>
</footer>