{% load static %}


{% block page_scripts %}
    <script defer src="{% static 'navbar.js' %}"></script>
{% endblock %}

<nav class="flex justify-center items-center sticky top-0 z-40">
    <div class="bg-slate-50 w-full flex justify-between items-center py-3 px-8 font-semibold text-xl">
        <div class="flex flex-row justify-center items-center gap-5 text-slate-900">
            <div class="flex justify-center items-center gap-2">
                <h1>Agora</h1>
                <img class="w-8" src="../../uploads/market/70888.png" alt="logo">
            </div>
            <a class="hover:text-slate-500" href="{% url 'welcome' %}">Home</a>
            <a class="hover:text-slate-500" href="{% url 'market' %}">Market</a>
            <a class="hover:text-slate-500" href="{% url 'forum' %}">Forum</a>

        </div>

        <div class="flex-grow pl-6 pr-20">
            <input type="text" class="bg-gray-200 text-slate-900 border-solid border-2 border-slate-300 rounded-xl py-2 pr-4 pl-10 w-full focus:outline-none focus:border-slate-400 focus:bg-slate-200" placeholder="Search...">
        </div>
        <div class="text-slate-900 gap-5 flex items-center ml-36">

            {% if request.user.is_anonymous %}
            <a class="px-4 py-2 border-solid border-[1px] border-white rounded-full hover:bg-slate-300" href="{% url 'login' %}">Login</a>
            <a class="px-4 py-2 text-slate-100 bg-slate-800 rounded-full hover:bg-slate-500 hover:text-slate-900" href="{% url 'signup' %}">Sign Up</a>
            {% else %}
            <a href="{% url 'profile' %}">{{ user.username }}</a>
            <!-- These need to become nested in a drop down menu -->
            <!-- 
            <a href="{% url 'logout' %}">Logout</a> -->
            
            
            
            <div id="user-dropdown" class="group">
                <button id="dropbtn" class="relative">
                    <img src="../../uploads/users/default_img.png" alt="profile_photo" class="w-10">
                </button>
                <div id="dropdown-content"
                    class="hidden absolute bg-slate-100 text-slate-800 text-center w-36 right-0 shadow-xl z-50 group-hover:block rounded-lg border-2 border-slate-300"
                    >
                    <a href="{% url 'new-listing' %}" class="block mt-2 hover:bg-slate-500 hover:text-slate-50">
                        Create</a>
                    <a href="" class="block mt-2 hover:bg-slate-500 hover:text-slate-50">
                        Settings</a>
                    <a href="{% url 'logout' %}" class="block my-2 hover:bg-slate-500 hover:text-slate-50">
                        Logout</a>
                </div>
            </div>
            
            
            {% endif %}

        </div>
    </div>
</nav>