{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agora</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block page_scripts %}{% endblock %}
</head>
<body>
    {% include '_navbar.html' %}
    
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>